<?xml version="1.0" encoding="UTF-8" ?>
<beans>

    <bean id="userDao" class="cn.xiaomizhou.springframework.test.bean.UserDao"/>

    <bean id="userService" class="cn.xiaomizhou.springframework.test.bean.UserService">
        <property name="uid" value="10001"/>
        <property name="company" value="某讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="cn.xiaomizhou.springframework.test.common.MyBeanFactoryPostProcessor"/>

    <bean class="cn.xiaomizhou.springframework.test.common.MyBeanPostProcessor"/>
</beans>