<?xml version="1.0" encoding="UTF-8" ?>
<beans>

    <bean id="userService" class="cn.xiaomizhou.springframework.test.bean.UserService" scope="prototype">
        <property name="uid" value="10001"/>
        <property name="company" value="某讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="proxyUserDao"/>
    </bean>

    <bean id="proxyUserDao" class="cn.xiaomizhou.springframework.test.bean.ProxyBeanFactory"/>
</beans>
